asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
dj-database-url==2.3.0
Django==5.1
django-allauth==65.2.0
django-environ==0.11.2
gunicorn==23.0.0
idna==3.10
Pillow==10.0.0
psycopg2-binary==2.9.10
qrcode==8.0.0
sqlparse==0.5.1
stripe==11.1.1
typing_extensions==4.12.2
tzdata==2024.1
whitenoise==6.8.2
PyJWT==2.10.1
google-cloud-storage==2.18.2
django-storages==1.14.4
google-cloud==0.34.0
google-cloud-vision==3.7.2
python-decouple==3.8
boto3==1.35.68
django-cloudinary-storage==0.3.0
cryptography==44.0.0 
