<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</head>
<body>
    {% load socialaccount %}
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'event_list' %}">Events</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'account_logout' %}">Log Out</a></li>
                    <li>Welcome, {{ user.username }}!</li>
                    <a href="{% url 'profile' %}">Profile</a>
                {% else %}
                    <li><a href="{% url 'account_login' %}?next={{ request.get_full_path }}">Log In</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} Sveta's Django site ❤️. All rights reserved 😊.</p>
    </footer>
</body>
</html>
