{% extends 'events/base.html' %}

{% block title %}Event List{% endblock %}

{% block content %}
    <h1>{{ event.title }}</h1>

    <!-- Event Image -->
    {% if event.image %}
    <img src="{{ event.image.url }}" alt="{{ event.title }}" style="width: 500px;">
    {% endif %}

    <!-- Event Details -->
    <p><strong>Date and Time:</strong> {{ event.date_time }}</p>
    <p><strong>Venue:</strong> {{ event.venue }}</p>
    <p><strong>Description:</strong> {{ event.description }}</p>
    <p><strong>Ticket Price:</strong> ${{ event.ticket_price }}</p>
    <p><strong>Tickets Remaining:</strong> 
        <span id="remaining-tickets">
        {% if remaining_tickets > 0 %}
            {{ remaining_tickets }} out of {{ event.total_tickets }}
        {% else %}
            <span style="color: red; font-weight: bold;">SOLD OUT</span>
        {% endif %}
    </span>
    </p>

    <!-- Purchase Tickets (If applicable) -->
    <p>
        {% if remaining_tickets > 0 %}
            <a href="{% url 'ticket_purchase' event.id %}">Purchase Tickets</a>
        {% endif %}
    </p>


    <!-- Link back to event list -->
    <p>
        <a href="{% url 'event_list' %}">Back to Event List</a>
    </p>
    {% endblock %}
