<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event List</title>
</head>
<body>
    <h1>Upcoming Events</h1>
    <ul>
        {% for event in events %}
        <li>
            <a href="{% url 'event_detail' event.id %}">{{ event.title }}</a>
            {% if event.image %}
                <img src="{{ event.image.url }}" alt="{{ event.title }}" style="width: 300px;">
            {% endif %}
            <strong>{{ event.title }}</strong> - {{ event.date_time }}<br>
            {{ event.description }}<br>
            Tickets Remaining: {{ event.remaining_tickets }}
        </li>
        {% empty %}
        <p>No upcoming events.</p>
        {% endfor %}
    </ul>
</body>
</html>
