{% extends 'events/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
        <h2>Upcoming Events</h2>
        <div class="events">
            {% for event in soonest_events %}
                <div class="event">
                    {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" style="width: 300px;">
                    {% endif %}
                    <h3>{{ event.title }}</h3>
                    <p>Date: {{ event.date_time }}</p>
                    <p>{{ event.description }}</p>
                    <a href="{% url 'event_detail' event.id %}">View Details</a>
                </div>
            {% empty %}
                <p>No upcoming events.</p>
            {% endfor %}
        </div>
        <a href="{% url 'event_list' %}">See All Events</a>
        {% endblock %}