{% extends 'events/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome, {{ user.username }}!</h1>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>


    <a href="{% url 'add_event' %}">
        <button>Add New Event</button>
    </a>


   
    <h2>Your Created Events</h2>
    {% if created_events %}

    
    <h3>Upcoming Events</h3>
    <ul>
        {% for event in upcoming_events %}
            <li>
                <strong>{{ event.title }}</strong> - {{ event.date_time }}
                <a href="{% url 'edit_event' event.id %}">Edit</a>
                <a href="{% url 'delete_event' event.id %}">Delete</a>
                <p>Tickets Sold: {{ event.tickets_sold|default:0 }}</p>
            </li>
        {% empty %}
            <p>No upcoming events.</p>
        {% endfor %}
    </ul>
    
    <h3>Past Events</h3>
    <ul>
        {% for event in past_events %}
            <li>
                <strong>{{ event.title }}</strong> - {{ event.date_time }}
                <a href="{% url 'edit_event' event.id %}">Edit</a>
                <a href="{% url 'delete_event' event.id %}">Delete</a>
                <p>Tickets Sold: {{ event.tickets_sold|default:0 }}</p>
            </li>
        {% empty %}
            <p>No past events.</p>
        {% endfor %}
    </ul>


    {% else %}
        <p>You have not created any events.</p>
    {% endif %}






    <h2>Purchased Tickets</h2>
{% if purchased_payments %}
    <ul>
    {% for payment in purchased_payments %}
        <li>
            <strong>Event Title:</strong> {{ payment.event.title }}<br>
            <strong>Date and Time:</strong> {{ payment.event.date_time|date:"F j, Y, g:i a" }}<br>
            <strong>Amount:</strong> ${{ payment.amount }}<br>
            <strong>Quantity:</strong> {{ payment.quantity }}<br>
            {% if payment.qr_code %}
                <img src="{{ payment.qr_code.url }}" alt="QR Code">
            {% else %}
                No QR code available
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No purchased tickets found.</p>
{% endif %}


    
{% endblock %}
